* {
  margin: 0%;
  padding: 0%;
  margin: 0%;
}

body {
  background: url(images/landscape.png) no-repeat center fixed;
  background-size: cover;
  font-family: monospace;
}

.title-image {
  width: 70%;
  margin: 1.5% 15% 0%;
}

.cards-container {
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  justify-content: space-evenly;
  margin: 0% 20% 0%;
  border: 3px solid black;
  border-radius: 5px;
}

.card-frames {
  margin: 0.25%;
}

.score-board {
  display: flex;
  justify-content: center;
}

.text-score {
  margin: 0.5% 0% 0.5% 0%;
  padding: 0.25%;
  font-size: 210%;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

.replay-board {
  display: flex;
  justify-content: center;
}

.replay-button {
  padding: 0.25%;
  font-family: monospace;
  font-size: 130%;
  border: 1px solid black;
  border-radius: 3px;
}

.declaimer-text {
  margin: 1% 0% 0% 1%;
}