body {
  background: url("images/landscape.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline;
  }

  h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .title-image {
    display: flex;
    flex-wrap: wrap;
  }

.cards-container {
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: space-around;
  align-self: center;
  flex-basis: auto;
  cursor: pointer;
  }
.card-frames {
  display: inline-block;
  border: 1px solid black;
  margin: 10px;
  height: 120px;
  width: 120px;
}

.parrafo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 40%;
  margin-right: 40%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-size: 40px;
  font-family: 'Kanit', sans-serif;
  background-color: #8591FF;

}
