* {
  margin: 0%;
  padding: 0%;
  margin: 0%;
}

body {
  background: url(images/landscape.png) no-repeat center fixed;
  background-size: cover;
  font-family: monospace;
}

.title-image {
  width: 70%;
  margin: 1.5% 15% 0%;
}

.cards-container {
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  justify-content: space-evenly;
  margin: 0% 20% 0%;
  border: 3px solid black;
  border-radius: 5px;
}

.card-frames {
  margin: 0.25%;
}

.score-board {
  display: flex;
  justify-content: center;
}

.text-score {
  margin: 0.5% 0% 0.5% 0%;
  padding: 0.25%;
  font-size: 210%;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

.replay-board {
  display: flex;
  justify-content: center;
}

.replay-button {
  padding: 0.25%;
  font-family: monospace;
  font-size: 130%;
  border: 1px solid black;
  border-radius: 3px;
}

.declaimer-text {
  margin: 1% 0% 0% 1%;
}

@media only screen and (max-width: 425px) {
  .title-image {
    width: 96%;
    margin: 5% 2%;
  }

  .cards-container {
    margin: 0% 5% 0%;
  }

  .card-frames {
    width: 30%;
  }

  .card-images {
    width: 100%;
  }

  .score-board {
    margin: 2%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .title-image {
    width: 96%;
    margin: 5% 2%;
  }

  .cards-container {
    margin: 0% 5% 0%;
  }

  .card-frames {
    width: 30%;
  }

  .card-images {
    width: 100%;
  }

  .score-board {
    margin: 2%;
  }

  .text-score {
    font-size: 250%;
  }

  .replay-button {
    font-size: 200%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .title-image {
    width: 90%;
    margin: 5% 5% 3% 5%;
  }

  .cards-container {
    margin: 0% 5% 0%;
  }

  .card-frames {
    width: 15%;
  }

  .card-images {
    width: 100%;
  }

  .score-board {
    margin: 1%;
  }

  .text-score {
    font-size: 250%;
  }

  .replay-button {
    font-size: 200%;
  }
}

@media only screen and (min-width: 2560px) {
  .title-image {
    width: 70%;
  }

  .card-frames {
    width: 10%;
  }
  
  .card-images {
    width: 100%;
  }
}